<div class="container__big-card">
  <div class="big-card__img">
    <img
      src="https://images.radiox.co.uk/images/293167?width=1200&crop=16_9&signature=C2qRKDrrmZaRj8MtAHsMsOj6BCg="
      alt=""
      srcset=""
    />
  </div>
  <a href=""></a>
  <div class="big-card__title">
    <h1><a href="#">Radiohead lançou 'The Bends' há 30 anos hoje.</a></h1>
  </div>
  <div class="big-card__desc">
    <p>
      <a href="#">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam gravida
        urna risus, a placerat arcu pellentesque non. Nullam orci nunc, tempor
        varius tortor nec, aliquam tincidunt urna.
      </a>
    </p>
  </div>
</div>
