<div class="container__small-card">
  <div class="container__small-card-content">
    <div class="small-card__img">
      <img
        src="https://preview.redd.it/9460m4go0ei91.png?auto=webp&s=eea7b8ba1851d26b5ba0e6de31449cf407eaf081"
        alt=""
        srcset=""
      />
    </div>
    <a href=""></a>
    <div class="small-card__title">
      <h1>
        <a href="#"
          >Kid A foi eleito pela revista Rolling Stone como o melhor álbum da
          década.</a
        >
      </h1>
    </div>
  </div>
  <div class="container__small-card-separator">
    <hr />
  </div>
</div>
